.form-control {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
}

.form-control:read-only {
    background-color: #f8f9fa;
    opacity: 0.8;
}

.form-label {
    font-weight: 500;
    color: #495057;
}

hr {
    opacity: 0.15;
}

.bg-white {
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.block{
    height: 10px;
}


/* Responsive adjustments */
@media (max-width: 576px) {
    .bg-white {
        width: 90% !important;
        margin: 1rem;
    }
} 

